@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Exo:wght@400;500;700;800&display=swap");
body {
  font-family: "Exo", sans-serif;
}
body .h1, body .h2, body .h3, body .h4, body .h5, body .h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Exo", sans-serif;
}

.title {
  font-size: 32px;
  font-weight: 800;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 215px;
  padding: 0 22px;
  font-weight: 900;
  font-size: 16px;
  border-radius: 25px;
}
.btn--style1 {
  border: 1px solid #00AFFA;
  color: #00AFFA;
}
.btn--style2 {
  background-color: #00AFFA;
  color: white;
}

.btns-wrap {
  display: flex;
  gap: 20px;
}
@media (max-width: 40rem) {
  .btns-wrap {
    flex-direction: column;
  }
}

.sec-name {
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  color: #00AFFA;
}
.sec-name:after {
  content: "";
  display: block;
  width: 290px;
  border-bottom: 1px solid #00AFFA;
  position: absolute;
  right: -310px;
  top: 50%;
}
@media (max-width: 40rem) {
  .sec-name:after {
    width: 100%;
    right: 0;
    top: 25px;
  }
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 22px;
}
.header .btn {
  height: 40px;
  padding: 0 17px;
  min-width: 138px;
  font-size: 12px;
  text-transform: uppercase;
}
.header .btns-wrap {
  gap: 8px;
}
.header .title-bar {
  background: transparent;
}
.header.active {
  background-color: #002869;
}
.header.active .title-bar .menu-icon:hover::after,
.header.active .title-bar .menu-icon::after {
  background: #00AFFA;
  box-shadow: 0 7px 0 #00AFFA, 0 14px 0 #00AFFA;
}
@media (max-width: 40rem) {
  .header {
    padding-bottom: 50px;
  }
  .header .btn {
    min-width: 276px;
    margin: auto;
  }
}

.header-nav-wrap {
  gap: 40px;
}
@media (max-width: 40rem) {
  .header-nav-wrap {
    background-color: #002869;
  }
}

.navigation {
  display: flex;
  gap: 23px;
  align-items: center;
}
.navigation a {
  color: white;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 40rem) {
  .navigation {
    gap: 10px;
    align-items: baseline;
    margin-top: 50px;
  }
  .navigation a {
    width: 100%;
    font-size: 18px;
    border-bottom: 1px solid #00AFFA;
  }
}

.footer {
  background-color: #002869;
  padding: 80px 0 100px;
}
.footer .navigation {
  gap: 35px;
}
@media (max-width: 40rem) {
  .footer {
    padding: 80px 0 40px;
  }
  .footer .navigation {
    display: none;
  }
}

.address {
  color: #f5f5f5;
  font-weight: 500;
  font-size: 16px;
}

.footer .address {
  margin: 40px auto 0;
}

.contact-wrap {
  color: #0160A7;
  font-weight: 600;
  font-size: 14px;
}
.contact-wrap span {
  color: #00AFFA;
}

@media (max-width: 40rem) {
  .address {
    text-align: center;
  }

  .contact-wrap,
.social-wrap {
    margin-top: 35px;
  }
}
.copyright {
  background-color: #0160A7;
}
.copyright .cell {
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 500;
}
@media (max-width: 40rem) {
  .copyright .cell {
    margin: auto;
    width: auto;
  }
}

.cards-wrap {
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin-left: 30px;
}
.cards-wrap .card {
  border-radius: 20px;
  border: none;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
  padding: 20px 58px 25px;
  max-width: 400px;
  background-color: #F5F3F3;
  position: relative;
  overflow: visible;
}
.cards-wrap .card svg {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -30px;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}
.cards-wrap .card svg rect {
  fill: #A3E3FF;
}
.cards-wrap .card .card-title {
  font-weight: 700;
  font-size: 24px;
  color: #A3E3FF;
}
.cards-wrap .card span {
  font-size: 14px;
  color: #353434;
}
.cards-wrap .card.active {
  background-color: white;
}
.cards-wrap .card.active svg rect {
  fill: #00AFFA;
}
.cards-wrap .card.active .card-title {
  color: #002869;
}
.cards-wrap .card.active span {
  color: #0160A7;
}
.cards-wrap .card:hover {
  cursor: pointer;
}
@media (max-width: 40rem) {
  .cards-wrap {
    gap: 25px;
    margin-bottom: 50px;
  }
  .cards-wrap .card {
    padding: 20px 20px 20px 58px;
  }
}

.steps {
  gap: 6px;
  margin-top: 90px;
}
.steps .card-steps {
  width: 324px;
  height: 324px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 50px 50px;
  gap: 50px;
  color: #00AFFA;
  position: relative;
}
.steps .card-steps:before {
  position: absolute;
  top: -50px;
  left: 37px;
  content: "00";
  font-size: 62px;
  font-weight: 900;
  display: block;
  color: #00AFFA;
}
.steps .card-steps.step-01:before {
  content: "01";
}
.steps .card-steps.step-02:before {
  content: "02";
}
.steps .card-steps.step-03:before {
  content: "03";
}
.steps .card-steps.step-04:before {
  content: "04";
}
.steps .step-title {
  font-size: 20px;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 64rem) {
  .steps .card-steps {
    width: 100%;
    padding: 100px 25px 25px;
    gap: 25px;
  }
}

.owl-howitworks.owl-carousel .owl-stage-outer {
  overflow: visible;
}

.slider {
  display: none;
}
@media (max-width: 64rem) {
  .slider {
    display: block;
  }
}

.tables-wrap {
  flex-direction: column;
  margin: 50px auto;
}
@media (min-width: 40rem) {
  .tables-wrap {
    flex-direction: row;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
  }
}

table {
  overflow: hidden;
}
table thead {
  background-color: #0160A7;
  color: white;
  height: 90px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
table th, table td {
  padding: 0 60px;
}
table td {
  height: 100px;
  position: relative;
  padding: 0 90px;
}
table td:before {
  position: absolute;
  top: 44px;
  left: 60px;
  content: "";
  display: block;
  width: 14px;
  height: 12px;
  background-image: url("../images/x.svg");
  background-repeat: no-repeat;
  background-position: center;
}
table td.check:before {
  background-image: url("../images/check.svg");
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

@media (max-width: 40rem) {
  .flex-column-small-only {
    flex-direction: column;
  }
}

@media (max-width: 40rem) {
  .align-center-small {
    text-align: center;
  }
}

.grid-container {
  width: 100%;
}

.grid-x.align-middle {
  height: 100%;
}

.margin-left {
  margin-left: 40px;
}

.sec {
  padding: 100px 0;
}
.sec--hero {
  display: flex;
  background-image: url("../images/hero-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #002869;
  color: white;
  height: 800px;
}
.sec--hero .title {
  font-family: "Exo 2";
  font-size: 42px;
  line-height: 1.1;
}
.sec--hero .description {
  font-size: 18px;
  font-weight: 500;
  margin: 30px auto 45px;
}
.sec--about {
  background-color: #0160A7;
  color: white;
  position: relative;
}
.sec--about .title {
  margin-bottom: 18px;
}
.sec--about img {
  position: absolute;
}
.sec--about .scroll-button {
  position: absolute;
  display: block;
  top: -32px;
  width: 50px;
  height: 64px;
}
.sec--about .scroll-button:hover {
  cursor: pointer;
}
@media (max-width: 64rem) {
  .sec--about img {
    position: relative;
  }
}
.sec--solutions {
  background-color: #F5F3F3;
  background-image: url("../images/solutions-bg.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom right;
}
@media (max-width: 64rem) {
  .sec--solutions {
    background-image: url("../images/solutions-bg-small.svg");
    background-position: bottom center;
    padding-bottom: 268px;
  }
}
.sec--solutions .title {
  color: #002869;
  margin-bottom: 68px;
}
.sec--howitworks {
  overflow: hidden;
  background-color: #002869;
}
.sec--howitworks .title {
  color: white;
}
.sec--table {
  background-color: #F5F3F3;
}
.sec--table .title,
.sec--table .sec-name {
  color: #002869;
}
.sec--table .sec-name:after {
  border-bottom: 1px solid #002869;
}