// Components
.title
	font-size: 32px
	font-weight: 800
	@media (max-width: 40rem)
		font-size: 28px

.btn
	display: inline-flex
	align-items: center
	justify-content: center
	text-align: center
	min-height: 50px
	min-width: 215px
	padding: 11px 22px
	font-weight: 900
	font-size: 16px
	border-radius: 25px
	// line-height: 1.2
	@include transition($transition-duration)
	&--style1
		border: 2px solid $blue-light
		color: $blue-light
	&--style2
		background-color: $blue-light
		color: white
		&:hover
			background-color: $blue-medium
			color: white

.btns-wrap
	display: flex
	gap: 20px
	@media (max-width: 40rem)
		flex-direction: column

.sec-name
	text-transform: uppercase
	letter-spacing: 5px
	position: relative
	display: inline-block
	margin-bottom: 50px
	color: $blue-light
	&:after
		content: ""
		display: block
		width: 290px
		border-bottom: 1px solid $blue-light
		position: absolute
		right: -310px
		top: 50%
		@media (max-width: 40rem)
			width: 100%
			right: 0
			top: 25px

// Header
.header
	position: fixed
	width: 100%
	padding-top: 22px
	z-index: 2
	@include transition($transition-duration)
	.btn
		height: 40px
		min-height: unset
		padding: 10px 17px
		min-width: 138px
		font-size: 12px 
		text-transform: uppercase
	.btns-wrap
		gap: 8px
	.title-bar
		background: transparent
	&.active
		position: fixed
		overflow-y: auto
		max-height: 40rem
		background-color: $blue-dark
		.title-bar .menu-icon:hover::after,
		.title-bar .menu-icon::after
			background: $blue-light
			box-shadow: 0 7px 0 $blue-light, 0 14px 0 $blue-light
	&.scroll
		background-color: $blue-dark
		padding-bottom: 22px
		@include transition($transition-duration)
	@media (max-width: 64rem)
		padding-bottom: 50px
		.btn
			min-width: 276px
			margin: auto
		.flex.wrap
			gap: 1rem
			text-align: center
		br
			display: block !important

.header-nav-wrap
	gap: 40px
	@media (max-width: 64rem)
		background-color: $blue-dark 

.navigation
	display: flex
	align-items: center
	ul
		margin: 0
		display: flex
		flex-wrap: wrap
		align-items: center
		gap: 23px
		li
			list-style: none
			position: relative
			&:hover .nested
				display: flex
				visibility: visible
				opacity: 1
			a
				display: block
				color: white
				font-size: 12px
				font-weight: 700
				text-transform: uppercase
				&:hover,
				&.active
					color: $blue-light
	.nested
		display: none
		visibility: hidden
		opacity: 0
		position: absolute
		background-color: $blue-medium
		border-radius: 6px
		padding: 25px 20px
		gap: 20px
		flex-direction: column
		@include transition($transition-duration)
		a
			display: block
			width: max-content
	@media (max-width: 64rem)
		gap: 10px
		align-items: baseline
		margin-top: 50px
		ul, li
			width: 100%
		ul li a
			width: 100%
			font-size: 18px
			border-bottom: 1px solid $blue-light
		.nested
			position: relative
			border-radius: 0
			background-color: transparent

// Footer
.footer
	background-color: $blue-dark
	padding: 80px 0 100px
	.navigation
		gap: 35px
		a
			font-weight: 600
			color: #f5f5f5
			&:hover,
			&:focus
				color: $blue-light
	@media (max-width: 40rem)
		padding: 80px 0 40px
		.navigation
			display: none

.address
	color: #f5f5f5
	font-weight: 500
	font-size: 16px
.footer .address	
	margin: 40px auto 0

.contact-wrap
	color: #ccc
	font-weight: 600
	font-size: 16px
	span
		color: white

@media (max-width: 40rem)
	.address
		text-align: center
	.contact-wrap,
	.social-wrap
		margin-top: 35px

.copyright
	background-color: $blue-medium
	.cell
		height: 50px
		display: flex
		align-items: center
		color: white
		font-weight: 500
		@media (max-width: 40rem)
			margin: auto
			width: auto

.cards-wrap
	display: flex
	flex-direction: column
	gap: 58px
	margin-left: 30px
	.card
		border-radius: 20px
		border: none
		box-shadow: 0 3px 24px rgba(black, 0.1)
		padding: 20px 58px 25px
		max-width: 400px
		// background-color: #F5F3F3
		background-color: $blue-darker
		position: relative
		overflow: visible
		@include  transition($transition-duration)
		.icons-svg
			display: flex
			position: absolute
			z-index: 1
			top: 0
			left: -30px
			width: 60px
			height: 60px
			background-repeat: no-repeat
			background-size: contain
			align-items: center
			justify-content: center
			border-radius: 20px
			background-color: #A3E3FF
			@include  transition($transition-duration)
		.card-title
			font-weight: 700
			font-size: 24px
			// color: #A3E3FF
			color: $blue-light
			@include  transition($transition-duration)
		span
			font-size: 14px
			// color: #353434
			color: white
			@include  transition($transition-duration)
		&.active
			// background-color: white
			background-color: $blue-darker
			.icons-svg
				background-color: $blue-light
			.card-title
				// color: $blue-dark
				color: $blue-light
			span
				// color: $blue-medium
				color: white
		&:hover
			cursor: pointer
	@media (max-width: 40rem)
		gap: 25px
		margin-bottom: 50px
		.card
			padding: 20px 20px 20px 58px

// Componente: "Como Funciona" - Página inicial
.steps
	gap: 6px
	padding: 90px 0 40px
	.card-steps
		width: 324px
		height: 324px
		// background-color: white
		background-color: transparent
		border: 1px solid $blue-light
		border-radius: 20px
		display: flex
		flex-direction: column
		justify-content: flex-start
		padding: 100px 50px 50px
		gap: 50px
		color: $blue-light
		position: relative
		&:before
			position: absolute
			top: -50px
			left: 37px
			content: "00"
			font-size: 62px
			font-weight: 900
			display: block
			color: $blue-light
		&.step-01:before
			content: "01"
		&.step-02:before
			content: "02"
		&.step-03:before
			content: "03"
		&.step-04:before
			content: "04"
		&.step-05:before
			content: "05"
		&.step-06:before
			content: "06"
	.step-title
		font-size: 20px
		font-weight: 800
		position: relative
		display: flex
		align-items: center
		gap: 20px

.sheepbar
	height: 500px
	>.sheepbar-scrollbar
		width: 100%
		height: 8px
		bottom: 0
		background: transparent
		overflow: visible
		> div
			width: 60px
			height: 8px
			bottom: 0
			left: 65px
			position: absolute
			background: white
			border-radius: 20px
			cursor: pointer
			z-index: 1
			overflow: visible
			margin-bottom: 40px
			&:after
				content: ""
				background-image: url('../images/hand.svg')
				background-repeat: no-repeat
				display: block
				width: 27px
				height: 27px
				position: relative
				top: 20px
				left: 50%
				margin-left: -13px
	&:after
		content: ""
		display: block
		position: absolute
		width: 100%
		height: 1px
		bottom: 44px
		z-index: 0
		background-color: $blue-light

.tables-wrap
	flex-direction: column
	margin: 50px auto
	@media (min-width: 40rem)
		flex-direction: row
		border-radius: 20px
		overflow: hidden
		box-shadow: 0 3px 24px rgba(black, 0.1)
		margin: 50px 0 50px 20px

// Componente: "Tabela Comparativa" - Página inicial
table
	overflow: hidden
	thead
		background-color: $blue-medium
		color: white
		height: 90px
		font-size: 24px
		font-weight: 700
		text-transform: uppercase
		border: none
	th, td
		padding: 0 60px
	td
		height: 100px
		position: relative
		padding: 0 90px
		&:before
			position: absolute
			top: 44px
			left: 60px
			content: ""
			display: block
			width: 14px
			height: 12px
			background-image: url('../images/x.svg')
			background-repeat: no-repeat
			background-position: center
		&.check:before
			background-image: url('../images/check.svg')

// Componente: "Clientes" - Página inicial
.clients-wrap
	width: 460px
	gap: 80px
	@media (max-width: 40rem)
		width: 100%
		gap: 60px
		padding: 40px 20px 0 

// Planos
.card-plans
	background-color: white
	display: flex
	flex-direction: column
	gap: 12px
	padding: 32px
	max-width: 360px
	border-radius: 14px
	margin: auto
	position: relative
	.flex.wrap
		gap: 5px
		margin: 12px 0
	.price
		color: $blue-light
		font-size: 48px
		font-weight: 900
		line-height: 1
	.plan-title
		font-size: 32px
		font-weight: 700
		color: #323232
		width: 100%
	.description
		color: #969696
		margin-bottom: 0
	.divider
		display: block
		height: 1px
		width: 100%
		border-bottom: 1px solid #F2F2F2
		margin: 12px 0
	ul
		margin: 0
		display: flex
		flex-direction: column
		gap: 24px
		li
			list-style: none
			text-decoration: line-through
			position: relative
			padding-left: 32px
			&:before
				position: absolute
				left: 0
				content: ""
				background-image: url('../images/check-2.svg')
				background-repeat: no-repeat
				display: block
				width: 24px
				height: 24px
			&.active
				text-decoration: none
			&:not(.active):before
				background-image: url('../images/check-2-disabled.svg')
	.btns-wrap
		flex-direction: column
		position: relative
		bottom: -130px
		margin: auto
	.btn
		&--style1
			background-color: white
	&.highlighted
		background-color: $blue-dark
		top: -10px
		.plan-title
			color: $blue-light
		.period,
		.description,
		ul li
			color: white
		.btn
			&--style1
				color: $blue-dark
				border: 1px solid $blue-dark
			&--style2
				background-color: $blue-dark

.plans-wrap
	display: flex
	gap: 16px
	flex-wrap: wrap
	@media (max-width: 40rem)
		flex-direction: column
	@media (max-width: 64rem)
		gap: 140px
