// Components
.title
	font-size: 32px
	font-weight: 800

.btn
	display: inline-flex
	align-items: center
	justify-content: center
	height: 50px
	min-width: 215px
	padding: 0 22px
	font-weight: 900
	font-size: 16px
	border-radius: 25px
	&--style1
		border: 1px solid $blue-light
		color: $blue-light
	&--style2
		background-color: $blue-light
		color: white

.btns-wrap
	display: flex
	gap: 20px
	@media (max-width: 40rem)
		flex-direction: column

.sec-name
	text-transform: uppercase
	letter-spacing: 5px
	position: relative
	display: inline-block
	margin-bottom: 50px
	&:after
		content: ""
		display: block
		width: 290px
		border-bottom: 1px solid $blue-light
		position: absolute
		right: -310px
		top: 50%
		@media (max-width: 40rem)
			width: 100%
			right: -200px

// Header
.header
	position: absolute
	width: 100%
	padding-top: 22px
	.btn
		height: 40px
		padding: 0 17px
		min-width: 138px
		font-size: 12px 
		text-transform: uppercase
	.btns-wrap
		gap: 8px
	.title-bar
		background: transparent
	&.active
		background-color: $blue-dark
		.title-bar .menu-icon:hover::after,
		.title-bar .menu-icon::after
			background: $blue-light
			box-shadow: 0 7px 0 $blue-light, 0 14px 0 $blue-light
	@media (max-width: 40rem)
		padding-bottom: 50px
		.btn
			min-width: 276px
			margin: auto

.header-nav-wrap
	gap: 40px
	@media (max-width: 40rem)
		background-color: $blue-dark 

.navigation
	display: flex
	gap: 23px
	align-items: center
	a
		color: white
		font-size: 12px
		font-weight: 700
		text-transform: uppercase
	@media (max-width: 40rem)
		gap: 10px
		align-items: baseline
		margin-top: 50px
		a
			width: 100%
			font-size: 18px
			border-bottom: 1px solid $blue-light

// Footer
.footer
	background-color: $blue-dark
	padding: 80px 0 100px
	.navigation
		gap: 35px
	@media (max-width: 40rem)
		padding: 80px 0 40px
		.navigation
			display: none

.address
	color: #f5f5f5
	font-weight: 500
	font-size: 16px
.footer .address	
	margin: 40px auto 0

.contact-wrap
	color: $blue-medium
	font-weight: 600
	font-size: 14px
	span
		color: $blue-light

@media (max-width: 40rem)
	.address
		text-align: center
	.contact-wrap,
	.social-wrap
		margin-top: 35px

.copyright
	background-color: $blue-medium
	.cell
		height: 50px
		display: flex
		align-items: center
		color: white
		font-weight: 500
		@media (max-width: 40rem)
			margin: auto
			width: auto

.cards-wrap
	display: flex
	flex-direction: column
	gap: 58px
	margin-left: 30px
	.card
		border-radius: 20px
		border: none
		box-shadow: 0 3px 24px rgba(black, 0.1)
		padding: 20px 58px 25px
		max-width: 400px
		background-color: #F5F3F3
		position: relative
		overflow: visible
		svg
			content: ''
			display: block
			position: absolute
			z-index: 1
			top: 0
			left: -30px
			width: 60px
			height: 60px
			background-repeat: no-repeat
			background-size: contain
			rect
				fill: #A3E3FF
		.card-title
			font-weight: 700
			font-size: 24px
			color: #A3E3FF
		span
			font-size: 14px
			color: #353434
		&.active
			background-color: white
			svg
				rect
					fill: $blue-light
			.card-title
				color: $blue-dark
			span
				color: $blue-medium
		&:hover
			cursor: pointer
