// Components

.btn
	display: inline-flex
	align-items: center
	justify-content: center
	height: 50px
	min-width: 215px
	padding: 0 22px
	font-weight: 900
	font-size: 16px
	border-radius: 25px
	&--style1
		border: 1px solid $blue-light
		color: $blue-light
	&--style2
		background-color: $blue-light
		color: white

.btns-wrap
	display: flex
	gap: 20px
	@media (max-width: 40rem)
		flex-direction: column

.header
	margin-top: 22px
	.btn
		height: 40px
		padding: 0 17px
		min-width: 138px
		font-size: 12px 
		text-transform: uppercase
	.btns-wrap
		gap: 8px
	.navigation
		display: flex
		gap: 23px
		align-items: center
		a
			color: white
			font-size: 12px
			font-weight: 700
			text-transform: uppercase
