// Sass

body
	font-family: 'Exo', sans-serif
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
		font-family: 'Exo', sans-serif

// Typography
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&family=Exo:wght@400;500;700;800&display=swap')

@import "mixins"
@import "variables"
@import "components"

// Helpers
.flex
	display: flex

.wrap
	flex-wrap: wrap

.space-between
	justify-content: space-between

.flex-column-small-only
	@media (max-width: 40rem)
		flex-direction: column

.align-center-small
	@media (max-width: 40rem)
		text-align: center

.grid-container
	width: 100%

.grid-x.align-middle
	height: 100%

.margin-left
	margin-left: 40px
	@media (max-width: 40rem)
		margin-left: initial

// Sections
.sec
	padding: 100px 0
	&--hero
		display: flex
		background:
			image: url('../images/hero-bg.jpg')
			position: top center
			size: cover
			repeat: no-repeat
			color: $blue-dark
		color: white
		height: 800px
		.title
			font-family: 'Exo 2'
			font-size: 42px
			line-height: 1.1
		.description
			font-size: 18px
			font-weight: 500
			margin: 30px auto 45px
	&--about
		background-color: $blue-medium
		color: white
		position: relative
		.title
			margin-bottom: 18px
		img
			position: absolute
		.scroll-button
			position: absolute
			display: block
			top: -32px
			width: 50px
			height: 64px
			&:hover
				cursor: pointer
		@media (max-width: 64rem)
			img
				position: relative
	&--solutions
		background:
			color: $gray
			image: url('../images/solutions-bg.svg')
			repeat: no-repeat
			size: auto
			position: bottom right
		@media (max-width: 64rem)
			background:
				image: url('../images/solutions-bg-small.svg')
				position: bottom center
			padding-bottom: 268px
		.title
			color: $blue-dark
			margin-bottom: 68px
	&--howitworks
		overflow: hidden
		background-color: $blue-dark
		background-image: url('../images/pattern-bg.svg')
		background-repeat: no-repeat
		background-position: right 20px top 70px
		.title
			color: white
	&--table
		background-color: $gray
		.title,
		.sec-name
			color: $blue-dark
		.sec-name:after
			border-bottom: 1px solid $blue-dark
	&--clients
		padding: 100px 0 150px
		background-color: $blue-medium
		.title
			color: white
	&--contact
		background-color: $gray
		padding: 0
		.padding
			padding: 140px 0
		.grid-container
			position: relative
			img
				position: absolute
				bottom: 0
				right: 0
		.title,
		.description
			color: $blue-dark
		.description
			font-size: 26px
			font-weight: 500
		.btns-wrap
			margin-top: 45px
		@media (max-width: 40rem)
			.grid-container img
				position: relative
			.title,
			.description
				text-align: center
			.margin-left
				margin-left: 0
			.padding
				padding: 90px 0

// Página Soluções
// Componente - Página Soluções
.solutions
	background-color: #012056
	color: white
	.sec
		&--hero
			padding: 168px 0 100px
			background-image: url('../images/solutions-bg.jpg')
			height: initial
			.solutions-component
				margin: 100px 0
		&--contact
			.btns-wrap
				&:before,
				&:after
					content: none
		@media (max-width: 40rem)
			padding: 50px 0
			&--hero
				padding: 168px 0 50px 
				.solutions-component
					margin: 50px 0
			&--contact
				padding-bottom: 0
		&.no-padding
			padding: 0
	.btns-wrap
		position: relative
		&:before,
		&:after
			content: ""
			display: block
			width: 290px
			border-bottom: 1px solid $blue-light
			position: absolute
			top: 50%
			@media (max-width: 40rem)
				content: none
				width: 100%
				right: 0
				left: 0
				top: 25px
		&:after
			right: -310px
		&:before
			left: -310px
	.solutions-component
		position: relative
		left: -100px
		margin: 0 0 100px
		ul
			margin: 0
			display: flex
			flex-direction: column
			gap: 30px
			li
				list-style: none
				display: flex
				gap: 30px
				align-items: center
				figure
					background-color: $blue-light
					min-width: 60px
					width: 60px
					height: 60px
					border-radius: 20px
					display: flex
					align-items: center
					justify-content: center
				span
					display: block
					min-width: 300px
					@media (max-width: 40rem)
						min-width: initial
		.title
			font-size: 32px
			margin-bottom: 40px
		&.reverse
			left: initial
			text-align: right
			justify-content: end
			ul li
				flex-direction: row-reverse
		@media (max-width: 40rem)
			left: initial
			margin: 0 0 50px
			flex-wrap: wrap
			gap: 30px

// Página Planos
.plans .sec
	&--hero
		background-image: none
		position: relative
		.title
			margin-bottom: 70px
		img
			position: absolute
			top: 50%
			margin-top: -190px
			@media (max-width: 64rem)
				position: relative
				top: initial
				margin-top: 0
	&--plans
		padding-bottom: 200px
		background-color: $gray
		.title
			color: $blue-dark
			margin-bottom: 50px
	&--banner
		background:
			image: url('../images/plans-banner.jpg')
			repeat: no-repeat
			size: cover
			position: center
		color: white
		.title,
		.description
			margin-bottom: 0
	&--benefits
		.title
			font-size: 28px
			font-weight: 600
			color: $blue-dark
		.benefits-component
			ul
				margin: 85px 0 0
				display: flex
				flex-direction: column
				gap: 30px
				li
					list-style: none
					display: flex
					gap: 30px
					align-items: center
					figure
						background-color: $blue-light
						min-width: 60px
						width: 60px
						height: 60px
						border-radius: 20px
						display: flex
						align-items: center
						justify-content: center
					span
						display: block
						min-width: 300px
						text-transform: uppercase
						color: $blue-dark
